<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | RoR Sample App</title>
</head>
<body>
	<h1>Help</h1>
	<p>Get help on Hacker News at the <a href="https://news.ycombinator.com/ask"> ask HN </a> section.</p>
</body>
</html>


